.mk-form-input {
  float: right;
  padding: 20px 10px;

  textarea {
    width: 30vw;
    height: 30vh;
    border-radius: 5px;
    padding: 3px 6px 3px 6px;
    border: 1px solid rgb(75, 91, 96);
  }
}
